.locations {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-top: 15px;
	margin-bottom: 15px;
}

.menu-container {
	display: flex;
	flex: 1;
}

.menu {
	display: flex;
	flex: 1;
	height: 25%;
	width: 15%;
	background: rgb(28, 27, 27);
	margin: 25px;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	position: fixed;
	border-radius: 5px;
}

.menu-button {
	padding: 0.5rem;
	background-color: rgb(28, 27, 27);
	font-size: 1rem;
	color: #fff;
	border: none;
	transition: 0.2s;
	animation: ease-in-out;
	cursor: pointer;
}

.menu-button:hover {
	transform: scale(1.2);
}

.items-container {
	flex: 5;
}

.items-line {
	display: flex;
	justify-content: space-around;
	flex-flow: wrap;
}