.contact {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.title {
	font-size: 3rem;
}

.form {
	display: flex;
	flex-direction: column;
	width: 60%;
}

.form-control {
	display: flex;
}

.grid {
	display: flex;
	padding: 20px;
	justify-content: space-around;
}

.field {
	width: 40%;
}

.large-field {
	width: 90%;
}