.slide-container {
	object-fit: contain;
}

.each-slide > div {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
}

.each-slide span {
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image {
	width: 80%;
	object-fit: cover;
}

.slide-buttons {
	margin-top: 32px;
}