.item-container {
	display: flex;
	flex-direction: column;
	width: 250px;
	box-shadow: 0px 0px 15px -5px;
	transition: 0.3s;
	animation: ease-in-out;
	border-radius: 10px;
	margin: 10px;
	/* margin-bottom: 15px; */
}

.item-container:hover {
	transform: scale(1.1);
	box-shadow: 0px 0px 15px 0px;
}

.image-container {
	width: 250px;
	height: 250px;
}

.image-container img {
	overflow: hidden;
	max-height: 250px;
	max-width: 250px;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.item-content {
	margin-left: 1rem;
	margin-right: 1rem;
}

h3,
p {
	margin: 0;
	padding: 0;
	font-size: 1rem;
}

.item-title {
	margin-bottom: 0.5rem;
}

.item-price {
	display: flex;
	justify-content: center;
	margin-top: auto;
	margin-bottom: 1rem;
	padding-top: 1rem;
	color: rgba(33, 150, 243, 1);
	font-weight: bold;
}
